body {
    background-color: skyblue;
    overflow: hidden;
}

body #buttons {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btn
{
    width: 200px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 4px black solid;
    margin: 20px;
    font-size: 2rem;
    color: #ffff;
    background-color: blueviolet;
    cursor: pointer;
}
.btn:hover
{
    background-color: rgb(58, 5, 108);
}
.btn:focus
{
    outline: none;
}